### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vs/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
Output/*
!Output/README.md
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
#log files
Log/
#ToolOutput folder
Tool/Output/